.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore
*.Rproj
*.html

# ignore the directory where data is kept 
data/

# ignore subdirectory
Figs/
oregon_cvd_pulm_results_cache/

# ignore data elements workbook
*.xls

# ignore png
*.png